
ion-input {
  border-bottom: 1px solid white;
  //color: white;
  //width: 100%;
}
ion-toolbar {
  padding: 0 20px;
}

.mask-checkbox-wrapper {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 9999;
}

map-info-window {
  color: black;
  text-align: center;
}
ion-checkbox {
  margin-left: 3px;
}

ion-card {
  //background-color: #c4e7d6;
}
ion-card-title, ion-card-subtitle, ion-card-content {
  //color: #434e3f;
}
